//______Product_List Grid_________
//Card grid container:flex
.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;

	//card
	.product-item {
		width: 20rem;
		max-width: 95%;
	}

	// PRODUCT_CARD
	.card {
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
		.card__header {
			padding: 1rem;
			.product__title {
				font-size: 1.2rem;
				text-align: center;
			}
			h1 {
				margin: 0;
			}
		}

		//card image
		.card__image {
			width: 100%;
			img {
        width: 100%;
			}
		}

		//card content
		.card__content {
			padding: 1rem;
			h1,h2,p {
				margin: 0;
			}
			.product__price {
				text-align: center;
				color: #4d4d4d;
				margin-bottom: 0.5rem;
			}
			.product__description {
				text-align: center;
			}
		}

		//card actions
		.card__actions {
			padding: 1rem;
			text-align: center;
			button,
			a {
				margin: 0 0.25rem;
			}
			.btn {
				font: inherit;
				border: 1px solid #00695c;
				color: #00695c;
				background: white;
				border-radius: 3px;
				cursor: pointer;
				&:hover,
				&:active {
					background-color: #00695c;
					color: white;
				}
			}
		}
	}
}
//_________________________________
