.product-form {
  /*Moving form to center*/
  width: 20rem;
  max-width: 90%;
  margin: auto;
  background-color: whitesmoke; }

.btn {
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer; }
  .btn:hover, .btn:active {
    background-color: #00695c;
    color: white; }
